@use '../globals/' as g;
@use '../utils/' as u;

.introduction {
    text-align: center;
    position: relative;
    padding-bottom: u.rem(150);
    //height: u.rem(1700);
    //margin-bottom: u.rem(10);

    @include u.breakpoint-up(mobile) {
        padding-bottom: 0;
    }

    &__topBg {
        background: g.$bgLightBlue;

        @include u.breakpoint-up(desktop) {
            padding-bottom: u.rem(170);
        }

        &__title {
            padding-top: u.rem(50);
            padding-bottom: u.rem(150);

            @include u.breakpoint-up(desktop) {
                padding-bottom: u.rem(50);
            }

            h2 {
                @include u.breakpoint-up(mobile) {
                    margin-bottom: u.rem(15);
                }
            }
        }
    }

    &__cardsBg {
        background: g.$bgDarkBlue;
        //height: u.rem(1306);

        &__cards {
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: u.rem(120);

            @include u.breakpoint-up(mobile) {
                bottom: u.rem(200);

                &>*:nth-child(1),
                >*:nth-child(2) {
                    width: 48%;
                }

                &>*:nth-child(1) {
                    position: relative;
                    top: u.rem(100);
                }

                &>*:nth-child(2) {
                    position: relative;
                    bottom: u.rem(100);
                    align-self: flex-end;
                }

                &>*:nth-child(3) {
                    position: relative;
                    bottom: u.rem(80);
                }
            }

            @include u.breakpoint-up(desktop) {
                flex-direction: row;
                justify-content: space-between;
                bottom: 0;
                height: u.rem(328);

                &>*:nth-child(1) {
                    align-self: flex-end;
                    top: 0;
                }

                &>*:nth-child(2) {
                    bottom: u.rem(-115);
                }

                &>*:nth-child(3) {
                    align-self: flex-end;
                    bottom: u.rem(-230);
                }

                .iCard {
                    width: 30%;
                }
            }
        }
    }

    &__bottomBg {
        background: g.$bgLightBlue;
        //height: u.rem(655);
        height: u.rem(885);
        width: 100%;
        position: absolute;
        bottom: u.rem(0);

        @include u.breakpoint-up(mobile) {
            height: u.rem(1335);
        }

        @include u.breakpoint-up(desktop) {
            height: 0;
        }
    }
}