$bgLightBlue: rgb(224, 229, 235);
$bgDarkBlue: rgb(185, 193, 204);
$bgVeryLightBlue: rgb(245, 247, 250);
$dark: rgb(41, 45, 51);
$VeryDarkBlue: rgb(133, 142, 153);
$white: rgb(255, 255, 255);
$footerColor: rgb(51, 51, 51);